<!DOCTYPE html>
<!-- 조각만들기 -->

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<!-- 타이틀과 폼을 content라는 이름의 조각으로 만들기 -->
    <th:block th:fragment="content"> 
    
<h1 class="mt-4">Board Register Page</h1>

<!-- sumit 버튼을 클릭하면 서버에 게시물 데이터가 전송 -->
<!-- 게시물 등록을 처리할 서버의 주소를 작성 -->
<form action="/board/register" method="post">
  <div class="form-group">
    <label >제목</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label >내용</label>
    <textarea class="form-control" rows="5" name="content"></textarea>
  </div>
  <div class="form-group">
    <label >작성자</label>
    <input type="text" class="form-control" name="writer">
  </div>

  <button type="submit" class="btn btn-primary">등록</button>
</form>

    </th:block>

</th:block>


